/* App.css */
.App.dark {
    background-color: #333;
    color: #fff;
  }
  
  .App.light {
    background-color: #fff;
    color: #000;
  }
  /* App.css */
.in-cart {
    text-decoration: line-through;
  }
  